.answer-container{
    width: 864px;
    height: 708px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #C4C4C4;
}
.answer-video{
    position: absolute;
    top:0%;
    left: 100%;
    width: 864px;
    height: 612px;
    border-radius: 8px 8px 0px 0px;
    background-color: black;
}
.timer{
    z-index: 100;
    left: 1000px;
    position: absolute;
    color: rgb(0, 0, 0);
}
.redButton{
    animation: parpadeo 1s infinite;
    width: 15px;
    height: 15px;
    z-index: 100;
    top: 74px;
    left: 1033px;
    position: absolute;
    border-radius: 100%;
    background-color: red;
}
.answer-container-video{
    position: relative;
    top:0%;
    left: 0%;
    width: 864px;
    height: 612px;
    border-radius: 8px 8px 0px 0px;
    background-color: black;
}

.answer-stopButton{
    position: relative;
    bottom: 10%;
    left: 5%;
    width: 48.2px;
    height: 48.2px;
    border-radius: 100%;
    background-color: #C4C4C4;
}
.answer-stopButton:disabled{
    display: none;
}
.answer-playButton{
    position: relative;
    bottom: 10%;
    left: 5%;
    width: 48.2px;
    height: 48.2px;
    border-radius: 100%;
    background-color: #C4C4C4;
}
.answer-playButton:disabled{
    display: none;
}
.answer-description{
    position: relative;
    text-align: left;
    margin: 5px;
    bottom: 5%;
}
.linkDeDescarga{
    position: relative;
    bottom: 3%;
    text-align: left;
}
@keyframes parpadeo {
    from {
        background-color: red;
    }
    to {
        background-color: rgb(197, 0, 0);
    }
}
@media (max-width: 950px){
    .answer-container{
        width: 464px;
        height: 308px;
    }
    .answer-container-video{
        width: 464px;
        height: 212px;
    }
    .answer-video{
        top:450px;
        left: 0%;
        width: 464px;
        height: 212px;
    }
    .answer-playButton{
        bottom: 15%;
        left: 5%;
        width: 35px;
        height: 35px;
    }
    .answer-stopButton{
        bottom: 15%;
        left: 5%;
        width: 35px;
        height: 35px;
    }
    .timer{
        z-index: 100;
        top: 42px;
        left: 300px;
    }
    .redButton{
        width: 15px;
        height: 15px;
        z-index: 100;
        top: 60px;
        left: 350px;
    }
}