.AnswerInterface-section{
    width: 864px;
    height: 708px;
    margin: 0 auto;
}
.returnButton{
    display: block;
    text-align: left;
    width: 39px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 20px;
    color:black;
    text-decoration: none;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
.backButton{
    width: 39px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 20px;
    background: none;
    border: none;
    color:black;
    text-decoration: none;
}
.nextButton{
    width: 39px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 20px;
    background: none;
    border: none;
    color:black;
    text-decoration: none;
}
@media (max-width: 950px){
    .nextButton{
        position: absolute;
        left: 300px;
    }
}