.QuestionList-title{
    font-size: 48px;
    text-align: center;
}
.QuestionList{
    display: grid;
	grid-template-columns: repeat(4, 240px);
	gap: 40px;
	place-content: center;
	margin: 3em 0 0 0;
}
.sendButton{
    position: relative;
    left: 38.5%;
    width: 245px;
    height: 72px;
    border-radius: 8px;
    background-color: #ed4040;
    color: white;
    font-size: 20px;
    margin: 40px;
}
@media (max-width: 950px){
    .QuestionList-title{
        font-size: 40px;
    }
    .QuestionList{
    grid-template-columns: repeat(2, 140px);
    gap: 20px;
    }
    .sendButton{
        left: 32.5%;
        width: 145px;
        height: 52px;
        font-size: 15px;
    }
}